@import url("./icons.css");
@import "./mixin.scss";
@import "./base.scss";
@import "./keyframes.scss";

.main_container {
    .chatapp {
        .user_container {
            position: relative;
            overflow: hidden;

            .user_container_wrapper {
                &_header {
                    background-color: var(--background-color-secondary);
                    padding: var(--sm-p);
                    @include Dflex(space-between);
                    position: relative;

                    .app_name {
                        font-size: var(--font-size-xlarge);

                        a {
                            text-decoration: none;
                            color: var(--text-color);
                        }
                    }

                    .buttons_flex {
                        display: flex;
                    }

                    .search_container {
                        width: 100%;
                        display: flex;
                        padding: var(--sm-p);
                        background-color: var(--background-color-secondary);
                        @include position(absolute, $top: 0, $left: 0);
                        @include dataStateFade();

                        input {
                            padding: var(--sm-p);
                            border: none;
                            border-bottom: 1px solid var(--border-color);
                        }

                        button {
                            flex-shrink: 0;
                        }
                    }
                }

                &_body {
                    position: relative;

                    .tab_content {
                        width: 100%;
                        height: 100%;
                        @include position(absolute, $top: 0);
                        @include dataStateFadeColumn();
                    }
                }

                &_footer {
                    background-color: var(--background-color-secondary);
                    padding: var(--sm-p);

                    .profile_nav_list {
                        @include Dflex(space-between);

                        .profile_avatar_container {
                            padding: var(--sm-p);

                            .profile_avatar {
                                border-radius: var(--border-radius-light);
                            }
                        }

                    }
                }

            }

            .user_container_modal {
                width: 100%;
                height: 100%;
                @include position(absolute, $top: 0, $left: 0);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(10px);
                @include dataStateFade();

                &_header {
                    display: flex;
                    align-items: center;
                    padding: var(--sm-p);

                    h2 {
                        font-size: var(--font-size-xlarge);
                    }
                }

                &_body {
                    padding: var(--sm-p);

                    &.conversation_create_group_step_1 {

                        .group_request_conversation_list {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            min-height: 64px;
                            gap: var(--sm-p);
                            flex-wrap: wrap;
                            padding: var(--sm-p);

                            &_item {
                                width: 48px;
                                height: 48px;
                                position: relative;

                                img {
                                    border-radius: 50%;
                                }

                                .btn_close {
                                    @include position(absolute, $top: 0);
                                    border-radius: 50%;
                                    background-color: var(--low-opacity);

                                    i {
                                        color: red;
                                    }
                                }
                            }
                        }
                    }

                    .inputs_container {
                        textarea {
                            resize: vertical;
                            min-height: 50px;
                            max-height: 150px;
                        }

                        button[type="submit"] {
                            width: 100%;
                        }
                    }
                }

                &_footer {
                    padding: var(--sm-p);

                    button {
                        border: 1px solid var(--border-color);
                        margin-left: auto;
                    }
                }

                .container {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow-x: hidden;

                    &_main,
                    &_sub {
                        width: 100%;
                        height: 100%;
                        @include position(absolute, $top: 0);
                        @include dataStateSlide();
                    }
                }
            }
        }

        .chats_container {
            flex: 1;
            overflow-x: hidden;

            .chat_container_placeholder {
                height: 100%;
                @include Dflex(center);

                .placeholder_container {
                    width: 100%;
                    max-width: 300px;
                }
            }

            .chat_container {
                animation: FadeIn var(--animation-speed) forwards;

                &:not(.active) {
                    display: none;
                }

                .chat_wrapper {
                    flex: 1;

                    .chat_header {
                        padding: var(--sm-p);
                        @include Dflex(space-between);

                        .flex_item {
                            display: flex;

                            .profile_image {
                                width: 48px;
                                height: 48px;
                                margin-right: var(--sm-p);
                            }

                            .details {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }

                    .chat_messages {
                        display: flex;
                        flex-direction: column;
                        gap: var(--md-p);
                        padding: var(--sm-p);
                        overflow-y: auto;
                        @include hideScroll();

                        .sender,
                        .recipient {
                            &[data-message_status='removed'] {
                                .message_content {
                                    .message_body {
                                        .message_text {
                                            color: red;
                                        }
                                    }
                                }
                            }

                            &[data-message_status='delivered'] {
                                .message_content {
                                    .message_footer {
                                        .status {
                                            i:first-of-type {
                                                color: green;
                                            }
                                        }
                                    }
                                }
                            }

                            &[data-message_status='read'] {
                                .message_content {
                                    .message_footer {
                                        .status {
                                            i {
                                                color: green;
                                            }
                                        }
                                    }
                                }
                            }

                            .message_content {
                                .username {
                                    font-size: 14px;
                                    margin-bottom: var(--sm-p);
                                }

                                .message_body {
                                    .img_container {
                                        max-width: 200px;
                                    }

                                    .file_container {
                                        width: 250px;
                                        background-color: #00354d;
                                        border-radius: 12px 0 12px 12px;
                                        padding: var(--sm-p);

                                        .file_wrapper {
                                            background-color: var(--low-opacity);
                                            border-radius: var(--border-radius-light);
                                            display: flex;
                                            gap: var(--sm-p);
                                            padding: var(--sm-p);

                                            .file_type {
                                                width: 48px;
                                                height: 48px;
                                            }

                                            .file_details {
                                                display: flex;
                                                flex: 1;
                                                flex-direction: column;

                                                .file_name {
                                                    font-size: var(--font-size-base);
                                                }
                                            }

                                            .file_buttons {
                                                display: flex;
                                            }
                                        }
                                    }

                                    .message_text {
                                        display: inline-block;
                                        line-height: 1.5;
                                        word-break: break-all;
                                        padding: var(--sm-p);

                                        .profile_tag {
                                            padding: var(--xs-p);
                                            background-color: hsl(199, 53%, 29%);
                                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                                            backdrop-filter: blur(10px);
                                            border-radius: 4px;
                                            word-break: keep-all;
                                        }
                                    }
                                }

                                .message_footer {
                                    font-size: 12px;
                                    margin-top: var(--xs-p);

                                    span {
                                        display: inline-flex;
                                    }
                                }
                            }
                        }

                        .typing_indicator {
                            .typing_profile_name {
                                font-size: 14px;
                                margin-bottom: var(--sm-p);
                            }

                            .typing_bubble {
                                height: 37px;
                                padding: var(--sm-p);
                                background-color: #173d19;
                                border-radius: 0 12px 12px 12px;
                                display: inline-flex;
                                align-items: center;
                                gap: var(--xs-p);

                                span {
                                    display: block;
                                    width: var(--sm-p);
                                    height: var(--sm-p);
                                    background-color: var(--border-color);
                                    border-radius: 50%;
                                    opacity: 0.6;
                                    animation: typing 1.4s infinite ease-in-out both;
                                }

                                .typing-indicator span:nth-child(1) {
                                    animation-delay: -0.32s;
                                }

                                .typing-indicator span:nth-child(2) {
                                    animation-delay: -0.16s;
                                }

                                .typing-indicator span:nth-child(3) {
                                    animation-delay: 0;
                                }
                            }
                        }

                        .sender {
                            display: flex;
                            justify-content: flex-end;

                            .message_content {
                                .message_body {
                                    display: flex;
                                    justify-content: flex-end;

                                    .img_container {
                                        margin-left: auto;

                                        img {
                                            border-radius: 12px 0 0 12px;
                                        }
                                    }

                                    .message_text {
                                        background-color: #00354d;
                                        border-radius: 12px 0 12px 12px;
                                    }
                                }

                                .message_footer {
                                    display: flex;
                                    justify-content: flex-end;
                                    gap: var(--sm-p);
                                }
                            }
                        }

                        .recipient {
                            .message_content {
                                .message_body {
                                    .img_container {
                                        img {
                                            border-radius: 0 12px 12px 0;
                                        }
                                    }

                                    .message_text {
                                        background-color: #173d19;
                                        border-radius: 0 12px 12px 12px;
                                    }
                                }
                            }
                        }
                    }

                    .message_form {
                        @include Dflex(center);

                        input {
                            flex: 1;
                            border: none;
                        }
                    }
                }

                .chat_side_panel {
                    .container {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        overflow-x: hidden;

                        &_main,
                        &_sub {
                            width: 100%;
                            height: 100%;
                            @include position(absolute, $top: 0);
                            @include dataStateSlide();
                        }
                    }

                    .panel_header {
                        display: flex;
                        align-items: center;
                        padding: var(--sm-p);
                        background-color: var(--background-color-secondary);

                        h2 {
                            font-size: var(--font-size-xlarge);
                        }
                    }

                    .panel_body {
                        &_header {
                            .profile_container {
                                @include Dflex(center);

                                .profile_avatar_wrapper {
                                    position: relative;

                                    img {
                                        width: 64px;
                                        height: 64px;
                                        border-radius: 50%;
                                    }

                                    .profile_status {
                                        @include position(absolute, $bottom: var(--sm-p), $right: var(--sm-p));
                                        width: var(--sm-p);
                                        height: var(--sm-p);
                                        background-color: red;
                                        border-radius: 50%;
                                        outline: 2px solid var(--background-color);
                                    }
                                }
                            }

                            .profile_name {
                                text-align: center;
                            }

                            .group_description {
                                padding: var(--sm-p);
                            }
                        }

                        .buttons_container {
                            display: flex;
                            flex-direction: column;
                            gap: var(--md-p);

                            .action_buttons {
                                padding: var(--sm-p);
                                @include Dflex(space-around);

                                .action_button {
                                    button {
                                        border: 1px solid var(--border-color);
                                    }

                                    .btn_title {
                                        display: block;
                                        margin-top: var(--sm-p);
                                        text-align: center;
                                    }
                                }
                            }

                            .navigation_list {
                                padding: var(--sm-p);
                            }
                        }

                        .members_list {
                            padding: var(--sm-p);
                            display: flex;
                            flex-direction: column;
                            gap: var(--sm-p);

                            &_item {
                                display: flex;

                                .avatar_container {
                                    width: 48px;
                                    height: 48px;

                                    img {
                                        border-radius: 50%;
                                    }
                                }

                                .metadata_container {
                                    display: flex;
                                    flex: 1;
                                    flex-direction: column;
                                    margin: 0 var(--sm-p);
                                }
                            }
                        }

                        .message_info {
                            padding: var(--md-p);
                            display: flex;
                            flex-direction: column;
                            gap: var(--md-p);

                            .message_content {
                                background-color: var(--background-color-secondary-hover);
                                padding: var(--sm-p);
                                border-radius: var(--border-radius-light);
                            }

                            .message_status_list {
                                display: flex;
                                flex-direction: column;
                                gap: var(--sm-p);

                                .message_status {
                                    .status_container {
                                        .status {
                                            font-size: var(--font-size-small);
                                            display: inline-flex;

                                            &.delivered {
                                                i:last-of-type {
                                                    color: green;
                                                }
                                            }

                                            &.read {
                                                i {
                                                    color: green;
                                                }
                                            }
                                        }

                                        .status_name {
                                            font-size: var(--font-size-base);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        & {
            .chatapp {
                .user_container {
                    width: 100%;

                    .user_container_wrapper {
                        &_body {
                            height: calc(100dvh - 128px); // 128px is 2 times 64px for nav 
                        }
                    }
                }

                .chats_container {
                    width: 100%;
                    height: 100%;
                    @include position(fixed, $top: 0, $left: 0);
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(10px);
                    z-index: 1;
                    @include dataStateFade();

                    .chat_container {
                        width: 100%;
                        height: 100%;
                        position: relative;

                        // .chat_wrapper{}
                        .chat_side_panel {
                            width: 100vw;
                            height: 100vh;
                            @include position(fixed, $top: 0, $left: 0);
                            background-color: var(--background-color);
                            z-index: 1;
                            @include dataStateFadeColumn();
                        }
                    }

                    .chat_messages {
                        height: calc(100dvh - 115px);
                        width: 100%;

                        .sender,
                        .recipient {
                            .message_content {
                                .message_body {
                                    .message_text {
                                        max-width: 300px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        & {
            width: 100vw;
            height: 100vh;
            @include Dflex(center);

            .chatapp {
                border-radius: var(--border-radius-light);
                overflow: hidden;
            }

            .chatapp {
                display: flex;
                height: 600px;
                border: 1px solid var(--border-color);

                .user_container {
                    width: 300px;
                    border-right: 1px solid var(--border-color);
                    flex-shrink: 0;

                    .user_container_wrapper {
                        &_body {
                            height: calc(600px - 130px); // 130px is 2 times 64px for nav + 2px border
                        }
                    }

                    .calls_container {
                        height: calc(600px - 64px);
                    }
                }

                .chats_container {
                    .chat_container {
                        display: flex;

                        .chat_wrapper {
                            .chat_header {
                                .header_close {
                                    display: none;
                                }
                            }

                            .chat_messages {
                                height: 483.5px;
                                position: relative;

                                .sender,
                                .recipient {
                                    .message_content {
                                        .message_body {
                                            .message_text {
                                                max-width: 600px;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .chat_side_panel {
                            width: 300px;
                            height: 598px;
                            border-left: 1px solid var(--border-color);
                            flex-shrink: 0;
                            @include animateWidth(300px);

                            .container {
                                height: 100%;

                                &_main {
                                    .panel_header {
                                        display: none
                                    }
                                }

                                .panel_body {
                                    // height: calc(600px - 64px);
                                    overflow-y: auto;
                                    @include hideScroll();
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}